* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex1 {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: hotpink;
}

.box1 {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: purple;
}

.box1:first-child {
  margin-right: auto;
}

.flex2 {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.box2-1 {
  width: 300px;
  background-color: lightgreen;
}

.box2-2 {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  background-color: lime;
  display: flex;
  flex-wrap: wrap;
}

.box3 {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

.flex3 {
  width: 100%;
  padding: 20px;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box4 {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: skyblue;
}
